<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Sää ⛅️ tänään</title>
</head>
<body>
    <header>
        <center>
            <h1>
                Sää tänään
            </h1>    
        </center>
    </header>
    <div>
        <center>
            <form action="." method="get">
                <input class="kaupunki" type="text" name="kaupunki" placeholder="Kaupunki...">
                <input type="submit" class="nayta" value="Näytä">
            </form>
        </center>
        <br>
        <div class="flexcontainer">
            <div class="box">
                <% if (weather.cod === 200) { %>
                    <p>
                        <b>Kaupunki:</b> <%= weather.name %>
                        <hr>
                    </p>
                    <p>
                        Kosteus: <%= weather.main.humidity %> %
                        <br>
                        Lämpötila: <%= weather.main.temp %> °C
                        <br>
                        Tuntuu iholla: <%= weather.main.feels_like %> °C
                        <br>
                        Ilmanpaine: <%= weather.main.pressure %> hPa
                        <br>
                        Tuuli: <%= weather.wind.speed %> m/s
                        <br>
                        Kuvaus: <%= weather.weather[0].description %>
                        <br>
                        Maan lyhenne: <%= weather.sys.country %>
                        <br>
                    </p>
                     
                <% } else { %>
                    <p>
                        <b>Kaupunkia ei löytynyt 😕
                    </p>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>